.container2{
    text-align: center;
    background-color: #ffffff;
    max-width: 100%;
    margin: 0%;
    
    padding-top: 5%;
}

.container-video{
    background-color: #f3f3f3;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: fit-content;
    text-align: center;
    
}

.container-reportes{
    background-color: #ffffff;
    max-width: 100%;
    margin: 0%;
    padding-top: 2%;
}

.titulo{
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}

.subtitulo{
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    
}

.footer-text{
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    padding: 0%;
}

.footer-container{
    text-align: center;
    padding: 0%;
    padding-top: 1%;
    margin-left: 10%;
    width: 80%;
}

.fila-titulo{
    color: white;
    background-color: #011d42;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0%;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

